API_URL=https://script.google.com/macros/s/AKfycbyzHXmRASmDymQd7Gw4XGVPtygTVZk4OZH7-tZPR_oSujXhQs6tamDAg-K8GOQmd8p4yQ/exec
AUTHORIZED_EMAILS=https://script.google.com/macros/s/AKfycbyE5Kq2Zgjh4jm0FFBPKA8VTjIfGMgRXnfDuK1DKALSb4RmOwMp1u7j5MJQCr-fa85jFw/exec